/* From icomoon */
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ughzmv');
    src:    url('fonts/icomoon.eot?ughzmv#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ughzmv') format('truetype'),
        url('fonts/icomoon.woff?ughzmv') format('woff'),
        url('fonts/icomoon.svg?ughzmv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
    content: "\e900";
}
.icon-cancel:before {
    content: "\e901";
}

/* Custom styles */
body {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: url('../img/mapbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
  font-size: 1.5em;
  line-height: 1.5;
}
.margintop {
  margin-top: 50px;
}
.big, .feature-header {
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
.feature-header {
  margin-bottom: 10px;
}
a, a:visited, .link {
  color: #c2fbd5;
  text-decoration: none;
  border-bottom: 1px solid #536c5b;
}
a:hover, .link:hover, a:hover > .link {
  color: #c2fbd5;
  border-bottom: 1px solid #c2fbd5;
  text-decoration: none;
}
a.noline {border:none;}
a:hover > p > img {opacity:0.7;}
.vertically-center {
  display: table-cell;
  vertical-align: middle;
}
.bg-layer {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-2;
}
#adl-map {
  height:0;
  width:100%;
  position: fixed!important;
  top:0;
  left:0;
}
#map-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#drum-help {
  margin: 15px 30px;
}
#drum-content {
  background-color:rgba(0,0,0,0.7);
}
#drum-chooser {
  background: black;
}
#drum-scroller {
  width:830px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
img.drum-item {
  width: 100px;
  padding: 3px 3px;
  cursor: pointer;
}
img.drum-item:hover, img.drum-item.selected {
  background-color: #c2fbd5;
}
.infowindow {
  color:black;
}
.infowindow p {
  font-size:16px;
}
.infowindow p.small {
  font-size:12px;
}
.infowindow p a {
  color: #536c5b;
}
#adl-map-overlay {
  z-index:-1;
  background-color:rgba(0,0,0,0.7);
}
#features {
  margin-top: 8em;
}
.side-drawer {
  position:fixed;
  right:0;
  bottom:0;
  width:300px;
  padding:0 10px;
  height:100%;
  background-color:rgba(0,0,0,0.7);
  z-index:3;
  overflow-x: hidden;
  overflow-y: auto;
}
.side-drawer h3 {
  padding: 97px 0 0;
  margin: 1em 0;
}
.side-drawer h4 {
  margin: 2em 0 0;
}
p.body {
  font-size:14px;
}
.side-drawer ul {
  list-style-position: outside;
  padding: 0;
  font-size: 14px;
  margin: 1em 0;
}
.side-drawer ul li {
  margin-bottom: 7px;
}
.side-drawer img {
  width:300px;
  margin-bottom:1em;
}
.side-drawer canvas {
  margin-bottom:5em;
}
p.title {
  margin:1em 0 0.5em;
}
.media-item {
  margin:28px 0;
  cursor:pointer;
  padding:0 0 9px 0;
}
.media-item:hover {
  background-color:rgba(0,135,81,0.33);
}
.media-item img {
  display:block;
  padding-bottom:1em;
}
.media-item p {
  font-size:14px;
  margin:1em;
}

/*
 * LAWS
 */
#laws-count {
  font-weight: 700;
}
#laws-filters .selectize-control.single {
  width: 180px;
  margin: 0 10px;
  text-align: center;
  font-weight: 700;
}
#filter-controls {
  display: inline-flex;
}
#laws-grid {
  margin-top: 1em;
}
#laws-grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer {width:160px;}
.law-item {
  float: left;
  width: 160px;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}
.law-item:hover {
  background-color: rgba(194,251,213,0.25);
}
a.block, a.block:hover, a.block:visited {
  color: white;
  display: block;
  text-decoration: none;
}
.law-item img.law-thumb {
  width: 160px;
  height: 204px;
  display: block;
  padding: 10px;
  margin: 0;
}
.law-item p {
  font-size: 14px;
  padding: 0 10px;
  margin:0;
  line-height: 1.5;
}
.law-item p.law-name {
  font-weight: 300;
  font-size: 18px;
}

/* Footer */
.footer-sidebar {
  position:fixed;
  bottom: 15px;
  left: 15px;
}
.footer-sidebar img {
  width: 220px;
  opacity: 0.2;
}
.footer-content {
  padding: 125px 15px 15px 15px;
}
@media (min-width:768px) {
  .footer-content {
    margin-left: 265px;
  }
}

/*
 * Theme overrides
 */
.navbar-default, #page-wrapper, .navbar, .sidebar ul li {
  background-color: transparent;
  border: none;
}
.navbar-brand {height:auto;}
.nav>li>a {font-size:18px;}
.nav>li>a:focus, .nav>li>a:hover, .sidebar ul li a.active {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .sidebar {margin-top:150px; position:fixed;}
  #adl-logo {margin:20px 0 0 7px;}
}
